<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
        crossorigin="anonymous">
  <title>Cupcakes</title>
</head>
<body>

  <h1>Cupcakes!</h1>

  <h2>Create a cupcake</h2>
  <form id="create-cupcake" class="d-flex flex-column w-25">
    <label for="flavor">Flavor</label>
    <input type="text" name="flavor" required>

    <label for="size">Size</label>
    <input type="text" name="size" required>

    <label for="rating">Rating</label>
    <input type="text" name="rating" required>

    <label for="image_url">Image URL</label>
    <input type="text" name="image_url">
    <br>
    <br>
    <button class="btn btn-primary">Submit</button>
  </form>
  <hr>

  <h2>Cupcake List</h2>
  <div id="cupcake-results">
  </div>
</body>

<script src="https://unpkg.com/jquery"></script>
<script type="module" src="/static/app.js"></script>
</html>